.nav_list_item {
  display: inline-block;
  margin-right: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.6rem;
}

.navLink {
  color: rgb(119, 119, 119);
  text-decoration: none;
  transition: all 0.5s ease;
}
.navLink:hover {
  color: white;
}
.navLink.active {
  color: white;
}
