.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text_container {
  position: relative;
}
.with_power {
  padding: 20px;
  border: 1px solid white;
  position: relative;
}

.qoutes {
  position: absolute;
  top: -10px;
  left: 20px;
}

.dr_who {
  position: absolute;
  bottom: -60px;
  right: 0;
}
